body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #121924;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #121924;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #121212 !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #6D695A;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #9c998d;
  color: #ffffff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url(../images/header/header.jpg);
  background-size: cover;
}

header h1 {
  color: #121924;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 45px;
}

header .btn-get-rent {
  background-color: #A36334;
  color: #fff;
}

header .btn-get-rent:hover {
  background-color: #c2865b;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 18px;
  font-weight: lighter;
}

.section-popular {
  min-height: 550px;
  background-color: #D9D8D1;
  margin-top: -50px;
  margin-bottom: -200px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #121924;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-bike .card-bike {
  min-height: 380px;
  background-color: #dddddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-bike .bike-country {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.section-popular-content .section-popular-bike .bike-buttom .btn-bike-details {
  background-color: #A36334;
  color: #ffffff;
}

.section-popular-content .section-popular-bike .bike-buttom .btn-bike-details:hover {
  background-color: #d19c76;
  color: #ffffff;
}

.section-networks {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 190px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9D8D1), to(#e0e1e4));
  background: linear-gradient(#D9D8D1 0%, #e0e1e4 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-family: Assistant;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
  color: #999e9f;
  min-height: 150px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #999e9f;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-rent-bike {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.section-testimonial-content .btn-rent-bike:hover {
  background-color: #fafafa;
  color: #a79c9c;
}

.section-testimonial-content .btn-get-sent-bike {
  background-color: #A36334;
  color: #fff;
}

.section-testimonial-content .btn-get-sent-bike:hover {
  background-color: #c2865b;
  color: #fff;
}

.section-footer a {
  color: #121924;
}

.section-details-header {
  min-height: 310px;
  background: #D9D8D1;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #121924;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #121924;
}

.section-details-content .card-details .informasi-perjalanan th {
  font-weight: 300;
  font-size: 18px;
  color: #121924;
}

.section-details-content .card-details .informasi-perjalanan td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .informasi-perjalanan .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-details-content .card-details .informasi-perjalanan .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.section-details-content .card-details .instruksi-pembayaran {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #121924;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #121924;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #6D695A;
  color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #ada997;
  color: #fff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #d6d1d1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .member .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #A36334;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #c3865a;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #121212;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #A36334;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #d19266;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */